body{
    position: relative;
}

#mainPage{
    font-size: 95%;
}

#mainPage p{
    font-size: 85%;
}

#helpContent{
    padding: 40px;
    padding-top: 30px;
    font-size: 80%;
}

#helpContent h2,h3{
    border-bottom: #c3c3c3 solid 1px;
    font-size: 250%;
}

table{
    margin: 20px;
    margin-left: 40px;
}
table td{
    padding: 10px;
}
td.red{
    vertical-align: top;
    color: #ba0d0d;
    font-weight: bold;
    width: 45px;
}

img.helpImg{
    margin: 20px;
    margin-left: 40px;
    padding: 5px;
    width: 650px;
    border: #cccccc solid 1px;
}

#help{
    width: 500px;
    text-align: center;
    font-size: 140%;
    font-weight: bold;
}

#footer{
    position: absolute;
    bottom: 0px;
}